@media (max-width: 1024px) {

    header {
        padding: 20px;
    }

    .wrapper {
        width: 1024px;
    }

    .box {
        width: 250px;
    }

    .box_item {
        width: 115px;
        height: 115px;
    }

    .box_item.box_lg {
        width: 250px;
    }

    .box.box_middle {
        width: 385px;
    }

} 