@media only screen and (max-width: 1024px) {

    body {
        padding: 0px;
    }
  .box {
    width: 260px;
    height: auto;
  }

  .box_middle {
    width: 381px;
  }
  
  .box_item {
    width: 125px;
    height: 125px;
    display: inline-block;  
  }

  .box_middle .box_lg{
    width: calc(100% - 50%);
  }

  .box_left .box_lg{
    width: 100%;
  }
} 