
@media only screen and (max-width: 560px){
  .container {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  header {
    height: 50px;
  }

  .navigation {
    display: block;
    float: left;
    padding: 0 20px;
    width: 89%;
  }

  .nav {
    display: none;
  }


  .nav_responsive {
    display: inline-flex;
  }

  .search {
    float: right;
  }

  .access {
    padding: 20px;
  }

  .access .container {
    display: block;
  }

  .access_item {
    width: 100%;
    height: auto;
    margin: 0px 0px 40px;
  }

  .article {
    display: block;
    width: auto;
    padding: 20px;
    margin: 40px;
  }

  aside.author {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 0 40px;
  }

  .author_contact input, .author_contact textarea {
    width: 90%;
    margin: 0 20px 20px 0px;
  }
}

@media (min-width: 768px) and (max-width: 1095px )  {

  .container {
    width: 100%;
  }

  .access {
    padding: 20px;
  }

  .access .container {
    display: inline-flex;
  }

  .access_item {
    width: calc(100% - 50%);
    height: auto;
  }

  .access_item_link {
    font-size: 14px;
  }

  .article {
    width: calc(100% - 60%);
    margin: 5%;
    padding: 5%;
  }

  .author {
    width: 20%;
    float: left;
    padding: 2%;
  }

  .author h1, .author .author_img , .author .author_desc, .author .author_contact  {
    margin: 20px auto;
  }

  .author_contact input, .author_contact textarea {
    width: 96%;
  }

}
